__pycache__/
.venv/
.git/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
.DS_Store
Thumbs.db
node_modules/
dist/
build/
*.egg-info/
.direnv/
.envrc
.env
!Resources/
!Plugins/
!Scripts/
!.env